{%extends "base.html" %}

{% block content %}
    <h1> Team 2: DnD Initiative Tracker</h1>
    <h2> Sign in, to begin the quest</h2>
    <form action="" method="post"> 
        {{ form.hidden_tag ()}}
        <p>
            {{ form.username.label}}<br>
            {{ form.username(size=40) }}<br>
            {% for error in form.username.errors %}
            <span style="color:red;"> {{ error }} </span>
            {% endfor %}

        </p>
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size = 40) }} <br>
            {% for error in form.password.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
        </p>
        <p>
            {{ form.remember_me() }} {{ form.remember_me.label }} </p>
        <p>
            {{ form.submit ()}}
        </p>
    </form>
    <p> New User?<a href="{{ url_for('register') }}">Register here!</a></p>
{% endblock %}